body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header h1{
  font-size: 4em;
  letter-spacing: -1px;
  font-size: 39px;
  margin-top: 21px;
  margin-bottom: 10.5px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  text-align: center;
}

#search_movie{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#search_movie input{
  margin-left: 10px;
  width: 300px;
}

#search_movie button{
  margin-left: 10px;
}

.list_movies .list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}

.list_movies .list .movie{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 21%;
  position: relative;
}

.list_movies .list .movie:hover svg, .list_movies .list .movie:hover .compare-movie{
  opacity: 1;
  visibility: visible;
}

.list_movies .list .movie svg{
  position: absolute;
  color: red;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
  right: 10px;
  top: 10px;
  font-size: 25px;
}

.list_movies .list .movie img.poster{
  width: 100%;
  object-fit: cover;
}

.list_movies .list .movie .compare-movie{
  position: absolute;
  top: 4px;
  width: 40px;
  right: 45px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease-in-out;
}

.list_movies .list .movie .movie_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #c3c3c3;
  width: calc(100% - 2px);
  padding: 10px 0;
}

.list_movies .list .movie .movie_info span{
  font-family: 'Open Sans', sans-serif;
  color: #483e3e;
  display: block;
  margin: 5px 0;
  padding-left: 15px;
}

.favorites_menu{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
}

.favorites_menu a{
  display: flex;
  align-items: center;
  color: #3c2424;
  text-decoration: none;
}

.favorites_menu svg{
  color: red;
  font-size: 16px;
}

.favorites_menu span{
  font-size: 16px;
  display: block;
  padding-left: 7px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.link-tag{
  color: inherit;
  text-decoration: none;
}